.row
{
    max-width: 1000px;
}
.columns
{
    padding-left: 0;
    padding-right: 0;
}

/* --top panel-- */
.top_panel_bg
{
    background: #000;
}

.full_width
{
    width: 100%;
    background: #000;
}

.top_panel
{
    background: #000;
    padding: 3px 0;
}

.is_region a.region
{
    text-decoration: underline;
}

.is_region a, .login a
{
    color: #fff;
    font-size: 11px;
    font-weight: 600;
}

.region_icon 
{
    background: url(../img/ico.png) 0 -2402px no-repeat;
}

.change_region
{
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
}

.projects ul
{
    margin: 0;
}

.projects li
{
    display: inline-block;
    text-decoration: none;
    border-left: #333 1px solid;
    padding: 0 10px;
    line-height: 16px;
}

.projects li a
{
    color: #999;
    font-size: 11px;
}

.login_icon
{
    width: 20px;
    height: 20px;
    background: url(../img/ico.png) 0 -2283px no-repeat;
}
/* --/top panel-- */

/* --header-- */

.header
{
    /*height: 94px;*/
    background: #93bfda url(../img/header_bg.png) center center no-repeat;
    background-size: cover;
}
.header
{
    padding: 18px 22px;
}
.header_date
{
    font: normal 11px "DINCondensedWeb", "Arial Narrow", Arial;
    color: #fff;
    font-weight: 600;
}

.header_date .date, .logo_text, .currency_name, .currency_date
{
    color: #2e699b;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.currency_list
{
    padding: 1px 15px;
}
.currency_value
{
    color: #000;
}
.currency_change
{
    color: #390;
}
.weather
{
    padding-bottom: 5px;
}

.weather a
{
    float: right;
    line-height: 0;
}
.weather_head
{
    color: #f80;
    vertical-align: middle;
    background: url(../img/info.png) 0 0 no-repeat;
    font-size: 10px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    padding: 0 6px 0 3px;
    font-weight: 600;
    margin-left: 5px;
}
.weather_local
{
    font: normal 13px "DINCondensedWeb", "Arial Narrow", Arial;
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
    padding: 0 5px;
    
}
.weather_icon
{
    background: url(../img/weather-ico.png) 0 -4551px no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.wheather_temp
{
    font: normal 13px "DINCondensedWeb", "Arial Narrow", Arial;
    color: #fff;
    font-weight: 600;
    padding-left: 5px;
}

.social
{
    margin: 0;
}
.social li
{
    background: url(../img/social_list.png) 0 0 no-repeat;
    display: inline-block;
    text-decoration: none;
    margin: 4px 0 0 2px;;
}
.social a
{
    display: block;
    width: 16px;
    height: 16px;
}
.social .yt:hover
{
    background-position: 0 -16px;
}
.social .fb
{
    background-position: -21px 0;
}
.social .fb:hover
{
    background-position: -21px -16px;
}
.social .vk
{
    background-position: -42px 0;
}
.social .vk:hover
{
    background-position: -42px -16px;
}
.social .tw
{
    background-position: -63px 0;
}
.social .tw:hover
{
    background-position: -63px -16px;
}
.social .gp
{
    background-position: -84px 0;
}
.social .gp:hover
{
    background-position: -84px -16px;
}
.social .fsq
{
    background-position: -105px 0;
}
.social .fsq:hover
{
    background-position: -105px -16px;
}
.social .ig
{
    background-position: -126px 0;
}
.social .ig:hover
{
    background-position: -126px -16px;
}
.social .flash
{
    background-position: -147px 0;
}
.social .flash:hover
{
    background-position: -147px -16px;
}
.social .ok
{
    background-position: -168px 0;
}
.social .ok:hover
{
    background-position: -168px -16px;
}
input.search
{
    height: 23px;
    border: 0;
    margin: 0;
}
.search label
{
    display: 
}
.search_button
{
    background: url(../img/search4.png) -1px 0 no-repeat;
    width: 5px;
    height: 22px;
    overflow: hidden;
    border: 0;
    float: left;
}

.ria_services
{
    font: normal 10px "DINCondensedWeb", "Arial Narrow", Arial;
    color: #2e699b;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-weight: 600;
    text-decoration: underline;
    padding-left: 2px;
}
.ria_services a
{
     color: #2e699b;
}
/* --/header-- */

/* --top_menu-- */
.navigator
{
    background-color: #333333;
}

.top_menu ul
{
    list-style: none;
    margin-left: 12px;
    margin-bottom: 5px;;
}

.top-bar-section li:not(.has-form) a:not(.button):hover 
{
    background-color: #555555;
    background: #f1f1f1; 
}
.top-bar-section li:not(.has-form) a:not(.button)
{
   line-height: 2.0rem;
    padding: 0 12px;
}
.top-bar-section ul li:hover:not(.has-form) > a {
    background-color: #555555;
    color: #000000;
    background: #222222;
}
.top-bar-section ul li > a
{
    color: #f1f1f1;
    font-weight: bold;
}
.navigator_sub_system
{
    background-color: #f1f1f1;
}
.navigator_sub_system li
{
    display: inline-block;
    padding: 5px 10px 5px 0;
}
.navigator_sub_system li a
{
    color: #000000;
    font-size: 12px;
}
.navigator_sub_system li a:hover
{
    color: #000000;
    text-decoration: underline;
}
/* --/top_menu-- */
/* --content-- */

.mt_lable
{
    height: 28px;
    width: 130px;
    background: #f1f1f1 url(../img/arrow.png) no-repeat 100% 0%;
}
.mt_lable a
{
    font-size: 11px;
    text-decoration: underline;
    margin-left: 12px;
}
.mt_lable a:hover, .prw_news a:hover
{
    color: #858f97;
}

.prw_news a
{
    font-size: 11px;
    color: #000000;
    font-weight: 600;
    padding-left: 10px;
}
.mt_prev, .mt_play, .mt_next
{
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 2px;
    display: inline-block;
}
.mt_prev
{
    background: url(../img/ico.png) 0 -3269px no-repeat;
}
.mt_play
{
    background: url(../img/ico.png) 0 -3193px no-repeat;
}
.mt_next
{
    background: url(../img/ico.png) 0 -3041px no-repeat;
}

.news_text
{
    background-color: #000000;
}

.news_text .item h3
{
    font-size: 20px;
    font-family: "DINCondensedWeb", "Arial Narrow", Arial;
    color: #ffffff;
    font-weight: bold;
    padding: 14px 17px 7px 20px;
}
.news_text a :hover
{
    color: #858f97;
}
.news_rubric .time span
{
    color: #858f97;
    font-size: 13px;
    font-weight: bold;
}
.time
{
    padding-left: 20px;
}
.news_rubric .time a
{
    color: #f80;
    font-size: 12px;
    font-weight: bold;
}
.news_rubric .time a:hover
{
    color: #858f97;
}
.news_upd
{
    color: #ffffff;
    font: normal 11px/15px Arial, Helvetica, sans-serif;
    padding-right: 7px;
}
/* --/content-- /*